
<div>{{ message }}</div>
<input 
  (keyup.enter)="createPost(idInput, titleInput, bodyInput)"
  #idInput
  type="number"
  class="form-control"
  placeholder="Enter Id"
>
<input  
  (keyup.enter)="createPost(idInput, titleInput, bodyInput)"
  #titleInput
  type="text"
  class="form-control"
  placeholder="Enter title"
>

<input  
  (keyup.enter)="createPost(idInput, titleInput, bodyInput)"
  #bodyInput
  type="text"
  class="form-control"
  placeholder="Enter body"
>

<ul>
  <li *ngFor="let post of posts">
    <p>ID: {{ post.id }}</p>
    <p>Title: {{ post.title }}</p>
    <p>Body: {{ post.body }}</p>
  </li>
</ul>

