<div>{{ message }}</div>

<input 
  #idInput
  type="number"
  class="form-control"
  placeholder="Enter Id"
>

<input  
  #titleInput
  type="text"
  class="form-control"
  placeholder="Enter title"
>

<input  
  #bodyInput
  type="text"
  class="form-control" 
  placeholder="Enter body"
>

<ul>
  <li *ngFor="let post of posts">
    <button (click)="updatePost(post, idInput, titleInput, bodyInput)" class="my-button">Update</button>&nbsp;&nbsp;
    <button (click)="deletePost(post)" class="my-button">Delete Posts</button>
    <p>ID: {{ post.id }}</p>
    <p>Title: {{ post.title }}</p>
    <p>Body: {{ post.body }}</p>
  </li>
</ul>
